extends layout

block content
  h1= title
  p Configuring MFO devices and methods

  form(action='start', method='post', id='configurations')
    p
      label Port:
        select(type='text', name='selectedPort', form='configurations')
          each port in ports
            option(value=port) #{port}
    p
      label Baudrate:
        select(id='baud', name='baudrate', form='configurations')
          each baud in baudrates
            option(value=baud) #{baud}
    p
      label Method:
        select(id='method', name='method', form='configurations')
          each method in methods
            option #{method}
    button(type='submit') Start
